*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.toDoList{

place-items: center;
background-color: aqua;
}
#heading{
    background-color: forestgreen;
}
button{
    font-weight: bold;
    
}
.container{
    width: 300px;
}
.list-styling{
    
    font-size: 75%;
}

@media (300px <= width <= 717px){
.toDoList{
    align-items: center;
    font-size: 10px;
}
}
